.tabs-content{
  height: auto;
}
.tab-content{
  display: block;
}
.owl-stage{
  transform: translate3d(0px, 0px, 0px);
  transition: all 0s ease 0s; width: 11880px;
}

.tab-content.visible {
  display: block;
}

.tab-content.invisible {
  display: none;
}